<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'img/style.css' %}" type="text/css" />
    <title>JOBL Userstat</title>

    <style type="text/css"></style>
  </head>

  <body>
    <div class="navbar">
      <div style="font-weight: bold; color: white; font-family: Arial; text-align: start; font-size: 18px">&nbsp;&nbsp;&nbsp;&nbsp;JOBL Userstat
      </div>
      <div>
          <button class="btn" id="logout">
            <i style="font-size: 250%;"class='fa fa-sign-out'></i>
          </button>
      </div>
    </div>

    <div class="grid-2-column min-h-screen">
      <div>
        <div class="sidenav show-in-laptop">
          <img src="{% static 'img/Ateneo_de_Naga_University_logo.png' %}" width="150" height="150" />
          <div style="font-family: Arial; text-align: center; font-size: 15px; color: white; margin-top: 2rem; margin-bottom: 2rem">System Administrator</div>
          <a class="navHover" style="font-family: Arial; font-weight: bold; font-size: 15px; color: white" href="/admin/dashboard">
            &nbsp;&nbsp;<i class="fa fa-home" style="color: white"></i> &nbsp;&nbsp;Home
          </a>
          <div class="horizontal-line"></div>
          <a style="font-family: Arial; font-weight: bold; font-size: 15px; color: white"> &nbsp;&nbsp;<i class="fa fa-folder" style="color: white"></i> &nbsp;&nbsp;Manage Records</a>
          <div class="horizontal-line"></div>
          <ul style="list-style-type: circle; font-size: 1.5rem; color: white; margin-top: 1rem">
            <li style="font-family: Arial; color: #818181"><a style="font-size: 15px" href="/admin/dashboard/searchrecord">Search Records</a></li>
            <div class="horizontal-ul-line"></div>
            <li style="font-family: Arial; color: #818181"><a style="font-size: 15px" href="/admin/dashboard/updaterecord">Update Records</a></li>
            <div class="horizontal-ul-line"></div>
            <li style="font-family: Arial; color: #818181"><a style="font-size: 15px" href="/admin/dashboard/deleterecord">Delete Records</a></li>
            <div class="horizontal-ul-line"></div>
          </ul>
          <a style="font-family: Arial; font-weight: bold; font-size: 15px; color: white" href="/admin/dashboard/managereport"> <i class="fa fa-file-text" style="color: white"></i>&nbsp;&nbsp; &nbsp;&nbsp;Manage Reports </a>
        </div>

        <div class="sidenav sidenav-tablet">
          <div>
            <img class="ateneo-logo" src="{% static 'img/Ateneo_de_Naga_University_logo.png' %}" />
          </div>

          <div>
            <a class="nav-icon" href="#"><i class="fa fa-home" style="color: white"></i></a>
            <a class="nav-icon" href="#"><i class="fa fa-folder" style="color: white"></i></a>
            <a class="nav-icon" href="#"><i class="fa fa-search" style="color: white"></i></a>
            <a class="nav-icon" href="#"><i class="material-icons clr-white">update</i></a>
            <a class="nav-icon" href="#"><i class="material-icons clr-white">delete</i></a>
            <a class="nav-icon" href="#"><i class="fa fa-file-text" style="color: white"></i></a>
          </div>
        </div>
      </div>

      <div> {% block content %} {% endblock content %} </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      document.getElementById("logout").addEventListener("click", function () {
        fetch("/logout_view/").then(function (response) {
          if (response.ok) {
            // Logout was successful, redirect the user
            window.location.href = "/admin";
          } else {
            // Logout was not successful, handle the error
            console.error("Error logging out:", response);
          }
        });
      });
      function myFunction() {
        document.getElementById("SignOutDropDown").classList.toggle("show");
      }

      window.onclick = function (event) {
        if (!event.target.matches(".btn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropDown = dropdowns[i];
            if (openDropDown.classList.contains("show")) {
              openDropDown.classList.remove("show");
            }
          }
        }
      };

      <!-- Option 1: Bootstrap Bundle with Popper -->
    </script>
  </body>
</html>

<!-- 
    icons for responsive sidebar:
    fas fa-search 
    

-->
