{% extends "layouts/header.html" %}
<span></span>
{% block content %}
<div class="grid-container-1 min-h-screen">
  <header class="w3-container">
    <h1 class="text-style">Home</h1>
  </header>

  <div class="warpper">
    <div class="container-fluid" style="background-color: #ECF0F1">
        <h3 class="text-center mb-4"></h3>
      
        <div class="row">
          {% for item in transact %}
          <div class="col-md-11 mb-3 ml-5">
            <p> {{item.dates}} </p>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title text-center">{{item.title}}</h4>
              </div>
              <div class="card-body">
                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  <main class="grid-2-column-2 h-[100%]"> </main>
</div>
{% endblock content %}

<script>
  if (sessionStorage.getItem("activeTabSearch")) {
    sessionStorage.removeItem("activeTabSearch");
  }
</script>