{% extends "layouts/header.html" %}
<span></span>
{% block content %}
<div class="grid-container-1 min-h-screen">
  <header class="w3-container">
    <h1 class="text-style">Delete Records</h1>
  </header>

  <div class="warpper">
    <input class="radio" id="one" name="group" type="radio" checked />

    <div class="tabs">
      <label class="tab" id="one-tab" for="one">Delete Records</label>
    </div>

    <div class="panels">
      <div class="panel" id="one-panel">
        <div class="container px-1 px-sm-5 mx-auto">
          
        </div>
      </div>
    </div>
  </div>
  <script>
   
  </script>

  <main class="grid-2-column-2 h-[100%]"> </main>
</div>
{% endblock content %}
