<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel='stylesheet' href="{% static 'img/style.css' %}" type='text/css'>
<title>JOBL Userstat</title>
<div class="grid-container-1 min-h-screen">
    <div id="wrapper">
        <section>
                <div class="Ateneo_library">James J. O'Brien, S. J. Library</div>
                <div class="Ateneo_name">Ateneo de Naga University</div>
                <div class="login-block">
                    <img src="{% static 'img/Ateneo_de_Naga_University_logo.png' %}" width="100" height="100">
                    <h1>Welcome Admin!</h1>
                    <div id="onenter">
                        <div class="Username">USERNAME</div>
                        <input type="text" value="" id="username" />
                        <div class="password">PASSWORD</div>
                        <input type="password" value="" id="password" />
                        <p id="error"></p>
                    </div>
                        <button onclick="navigateTo('{{data.0.admin_username}}', '{{data.0.admin_password}}')" id="login">LOGIN </button> 
                </div>
        </section>
    </div>
</div>

<script>
var input = document.getElementById("onenter");
input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    document.getElementById("login").click();
  }
});
function navigateTo(username, password, data) {
    let username1 =  document.getElementById("username").value
    let password1 =  document.getElementById("password").value
    if (username == username1 && password == password1) 
        // window.location.href = window.location.href + "dashboard"
        console.log(data)
    else document.getElementById("error").innerHTML = "Invalid Username or Password!";
}

</script>

<style>
    body {
        background-image: url("{% static 'img/background1.png' %}");
        background-size: cover;
        font-family: Montserrat;
        max-width: 100%;
        height: auto;
        background-attachment: fixed;
    }
    
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #wrapper {
        border-radius: 4px;
        width: 550px;
        height: 550px;
        border-style: double;
        position: relative;
        left: 30%;
    }
    
    </style>