<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
{% load static %}
<link rel='stylesheet' href="{% static 'img/style.css' %}" type='text/css'>
<div class="Ateneo_library">James J. O'Brien, S. J. Library</div>
<div class="Ateneo_name">Ateneo de Naga University</div>
<div class="login-block">
    <h1>Welcome Admin!</h1>
    <div class="Username">USERNAME</div>
    <input type="text" value="" id="username" />
    <div class="password">PASSWORD</div>
    <input type="password" value="" id="password" />
    <button onclick="navigateTo()">LOGIN </button>

</div>

<script>

function navigateTo() {
   
    // var mysql = require('mysql');

    // var con = mysql.createConnection({
    // host: "localhost",
    // user: "root",
    // password: "libraryrfid",
    // database: "jobluserstat"
    // });

    // con.connect(function(err) {
    // if (err) throw err;
    // //Select all customers and return the result object:
    // con.query("SELECT * FROM admins", function (err, result, fields) {
    //     if (err) throw err;
    //     console.log(result);
    // });
    // });

    let username1 =  document.getElementById("username").value
    alert(username1)
    window.location.href = window.location.href + "dashboard"

}

</script>

<style>
body {
    background-image: url("{% static 'img/background.png' %}");
    background-size: cover;
    font-family: Montserrat;
    width: 100%;
    height: auto;
}
</style>
