<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="Ateneo_library">James J. O'Brien, S. J. Library</div>
<div class="Ateneo_name">Ateneo de Naga University</div>
<div class="login-block">
    <h1>Welcome Admin!</h1>
    <div class="Username">USERNAME</div>
    <input type="text" value="" id="username" />
    <div class="password">PASSWORD</div>
    <input type="password" value="" id="password" />
    <a href="dashboard"> <button >LOGIN </button> </a> 
</div>

<style>
    body {
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.password{
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    color: rgb(7, 7, 7);
    font-family: Libre Caslon;
}

.Username{
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    color: rgb(7, 7, 7);
    font-family: Libre Caslon;
}

.Ateneo_library{
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.Ateneo_name {
    height: 36px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fcfcfd0c;
    border-radius: 5px;
    border-left-color: #7210f3;
    border-top: 5px solid #7210f3;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #7210f3;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #7210f3;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #7210f3;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #7210f3;
}
</style>
