{% extends "layouts/header.html" %}
<span></span>
{% block content %}
<div class="grid-container-1 min-h-screen">
  <header class="w3-container">
    <h1 class="text-style">Search Records</h1>
  </header>

  <div class="warpper">
    <input class="radio" id="one" name="group" type="radio" checked />
    <input class="radio" id="two" name="group" type="radio" />
    <div class="tabs">
      <label class="tab" onclick="switchTab('tab1')" data-tab="tab1" id="one-tab" for="one">View Visitor</label>
      <label class="tab" onclick="switchTab('tab2')" data-tab="tab2" id="two-tab" for="two">Search Visitor</label>
    </div>
    <div class="panels">
      <div class="tab-content">
      <div class="panel" id="tab1">
      <form id="generate-list" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <label for="start-date">Start Date:</label>
              <input type="text" class="form-control" id="start-date" placeholder="mm/dd/yyyy" name="start_date">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <label for="end-date">End Date:</label>
              <input type="text" class="form-control" id="end-date" placeholder="mm/dd/yyyy" name="end_date">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <label for="start-time">Start Time:</label>
              <input type="time" class="form-control" id="start-time" placeholder="hh:mm" name="start_time">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <label for="end-time">End Time:</label>
              <input type="time" class="form-control" id="end-time" placeholder="hh:mm" name="end_time">
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center"style="padding-bottom: 1rem;"> 
          <button class="btn btn-primary" onclick="generateButton()">Generate</button>
        </div>
      </form>
        <div class="d-flex justify-content-center">
          <table id="view-visitor-rendered" class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
            </thead>
            <tbody>
              <tr class="text-center">
                <th>ID Number</th>
                <th>Name</th>
                <th>Department</th>
                <th>Date</th>
                <th>Time visited</th>
              </tr>
            </tbody>
          </table>
        </div>  

      </div>
      <div class="panel" id="tab2">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <label for="start-date">Search user: (By ID Number or Last Name)</label>
                  <input type="text" class="form-control" placeholder="ex. CO2019-1-1190" name="search_user" id="user_input" required>
                </div>
            </div>
        </div>

        <div id="table-click" class="justify-content-center">
          <table id="table-data" class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr class="text-center">
                <th>ID Number</th>
                <th>Name</th>
                <th>Department</th>
              </tr>
            </thead>
            <tbody>
              {% for item in users %}
              <tr>
                <td id="user-id{{forloop.counter0}}">{{item.user_idno}} &nbsp<i id="icon-eye{{forloop.counter}}" class="fa fa-eye"></i></td>
                <td id="user-name{{forloop.counter0}}">{{item.last_name}}, {{item.firstname|title}} {{item.middle_name}}</td>
                <td id="user-dept{{forloop.counter0}}">{{item.department.department_name}}</td>
                <form id="input_user{{forloop.counter}}" method="post"> 
                  {% csrf_token %}
                  <input type="text" value="{{item.user_idno}}" name="input_user_samp" hidden>
                </form>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>  
        <div id="content-eye" style="display: none;">
        <div class="d-flex justify-content-center">
          <table id="table-data-show" class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr class="text-center">
                <th id="user-id-show"></th>
                <th id="user-name-show"></th>
                <th id="user-dept-show"></th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>  
      </div>

      </div>
      </div>
    </div>
    </div>
    <script>
    // let currentPage = location.href;
    
    // window.addEventListener("beforeunload", function(event) {
    //   let newPage = location.href;
    //   if (currentPage === newPage) {
    //     sessionStorage.removeItem("activeTab");
    //   }
    // });
    function generateButton() {
            $("#view-visitor-rendered tbody tr").remove(); 
            $("#view-visitor-rendered thead tr").remove();
            event.preventDefault();
            var myForm = document.querySelector('#generate-list');
            var formData = new FormData(myForm);
            fetch('/admin/dashboard/searchrecord/', {
              method: 'POST',
              body: formData
            }).then(response => response.json())
            .then(data => {
              // Get the tbody element
                var tableBody = document.querySelector('#view-visitor-rendered tbody');
                var tableHeader = document.querySelector('#view-visitor-rendered thead')
                var newRowHead = document.createElement('tr');
                var start_time = new Date(data.start_time)
                var end_time = new Date(data.end_time)
                var formattedTimeStart = start_time.toLocaleTimeString('en-US', {hour: '2-digit',
                     minute: '2-digit'
                });
                var formattedTimeEnd = end_time.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit'});
                newRowHead.className = 'text-center'
                var title_cell = document.createElement('th');
                title_cell.colSpan = '5'
                title_cell.textContent = 'Generated report from ' + new Date(data.start_date).toLocaleDateString('en-US', {
                    month: '2-digit',
                    day: '2-digit',
                    year: 'numeric'
                }) + ' to ' + new Date(data.end_date).toLocaleDateString('en-US', {
                    month: '2-digit',
                    day: '2-digit',
                    year: 'numeric'
                }) + ' from ' + formattedTimeStart + ' to ' + formattedTimeEnd
                newRowHead.appendChild(title_cell);

                // Append the tr element to the thead element
                tableHeader.appendChild(newRowHead);
                // Loop through the data and create a new row for each item
                var items = data.dates_login_searched;
                var data_user = data.data;
                var html = ""
                for (var i = 0; i < items.dates_login.length; i++) {
                    // Create a new tr element  
                    var [hour, minutes] = items.dates_login[i].time_in.split(":").map(Number);
                    var newRow = document.createElement('tr');
                    var dateObj = new Date();
                    dateObj.setHours(hour);
                    dateObj.setMinutes(minutes);
                    var [hour1, minutes1] = items.dates_login[i].time_out.split(":").map(Number);
                    var dateObj1 = new Date();
                    dateObj1.setHours(hour1);
                    dateObj1.setMinutes(minutes1);
                    newRow.className = 'text-center'

                    // Create td elements for each column and set their text content
                    var id_cell = document.createElement('th');
                    id_cell.textContent = items.dates_login[i].user;
                    var name_cell = document.createElement('th');
                    name_cell.textContent = data_user[i].name;
                    var deptCell = document.createElement('th');
                    deptCell.textContent = data_user[i].department;
                    var dates_cell = document.createElement('th');
                    dates_cell.textContent = new Date(items.dates_login[i].dates).toLocaleDateString('en-US', {
                                              day: '2-digit',
                                              month: '2-digit',
                                              year: 'numeric'
                                            });
                    var TimeInCell = document.createElement('th');
                    TimeInCell.textContent = dateObj.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit'})
                                             + '-' + dateObj1.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit'});


                    // Append the td elements to the tr element
                    newRow.appendChild(id_cell);
                    newRow.appendChild(name_cell);
                    newRow.appendChild(deptCell);
                    newRow.appendChild(dates_cell);
                    newRow.appendChild(TimeInCell);

                    // Append the tr element to the tbody element
                    tableBody.appendChild(newRow);
                }
              })
              .catch(error => console.error(error));
      }
    
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll("[id^='icon-eye']").forEach(function(el) {
          // Add an event listener to each element
          el.addEventListener("click", function(event) {
            var table, tr, td;
            table = document.getElementById("table-data");
            tr = table.getElementsByTagName("tr");
            stringReplace = el.id.replace("icon-eye", "")
            event.preventDefault();
            var myForm = document.querySelector('#input_user'+stringReplace);
            var formData = new FormData(myForm);
            fetch('/admin/dashboard/searchrecord/', {
              method: 'POST',
              body: formData
            }).then(response => response.json())
            .then(data => {
              // Get the tbody element
              var tableBody = document.querySelector('#table-data-show tbody');
              var newRow = document.createElement('tr');
              newRow.className = 'text-center'
              var dates_cell1 = document.createElement('th');
              dates_cell1.textContent = 'Date'
              var TimeInCell1 = document.createElement('th');
              TimeInCell1.textContent = 'Time In'
              var TimeOutCell1 = document.createElement('th');
              TimeOutCell1.textContent = 'Time Out';


              newRow.appendChild(dates_cell1);
              newRow.appendChild(TimeInCell1);
              newRow.appendChild(TimeOutCell1);

                  // Append the tr element to the tbody element
              tableBody.appendChild(newRow);

              // Loop through the data and create a new row for each item
              var items = data.user_searched;
              var html = ""
              for (var i = 0; i < items.dates_login.length; i++) {
                  // Create a new tr element
                  var newRow1 = document.createElement('tr');
                  newRow1.className = 'text-center'

                  // Create td elements for each column and set their text content
                  var dates_cell = document.createElement('td');
                  dates_cell.textContent = items.dates_login[i].dates;
                  var TimeInCell = document.createElement('td');
                  TimeInCell.textContent = convertTime(items.dates_login[i].time_in);
                  var TimeOutCell = document.createElement('td');
                  TimeOutCell.textContent = convertTime(items.dates_login[i].time_out);

                  // Append the td elements to the tr element
                  newRow1.appendChild(dates_cell);
                  newRow1.appendChild(TimeInCell);
                  newRow1.appendChild(TimeOutCell);

                  // Append the tr element to the tbody element
                  tableBody.appendChild(newRow1);
              }
            })
            .catch(error => console.error(error));
            var td_show = tr[stringReplace].getElementsByTagName("td")[0];
            var td_show1 = tr[stringReplace].getElementsByTagName("td")[1];
            var td_show2 = tr[stringReplace].getElementsByTagName("td")[2];
            document.getElementById("user-id-show").innerHTML = "ID Number: " + td_show.innerText
            document.getElementById("user-name-show").innerHTML = "Name: " + td_show1.innerText
            document.getElementById("user-dept-show").innerHTML = "Department: " + td_show2.innerText
            document.querySelector("#content-eye").style.display = 
            document.querySelector("#content-eye").style.display === "none" ? "block" : "none";
            document.querySelector("#table-click").style.display = "none"
          });
      });
    });
    var activeTab = sessionStorage.getItem("activeTabSearch");

    // If there is no active tab, set the first tab as the active tab
    if (!activeTab) {
      activeTab = "tab1";
      document.getElementById("one").checked = true;
      sessionStorage.setItem("activeTabSearch", activeTab);
    }
    if (activeTab == "tab1") {
      document.getElementById("one").checked = true;
    }
    else {
      document.getElementById("two").checked = true;
    }

    // Show the active tab and hide the other tabs
    document.getElementById(activeTab).style.display = "block";
    for (var i = 1; i <= 2; i++) {
      if ("tab" + i != activeTab) {
        document.getElementById("tab" + i).style.display = "none";
      }
    }

    // Function to switch tabs
    function switchTab(tabId) {
      document.getElementById(activeTab).style.display = "none";
      document.getElementById(tabId).style.display = "block";
      activeTab = tabId;
      sessionStorage.setItem("activeTabSearch", activeTab);
    }   
    
    document.getElementById("user_input").addEventListener("input", searchTable);
    if (document.getElementById("user_input").value === "") {
      document.getElementById("table-data").style.display = "none"
    }
       
    function searchTable() {
      $("#table-data-show tbody tr").remove(); 
      document.querySelector("#table-click").style.display = ""
      document.querySelector("#content-eye").style.display = "none"

      document.getElementById("table-data").style.display = ""
      var input, filter, table, tr, td, i, txtValue, td1, txtValue1;
      input = document.getElementById("user_input");
      filter = input.value.toUpperCase().replace(/[^a-z0-9]/gi, "");
      table = document.getElementById("table-data");
      tr = table.getElementsByTagName("tr");
      if (filter === '') { // Check if input field is empty
        document.getElementById("table-data").style.display = "none"
      } 
      else {
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          td1 = tr[i].getElementsByTagName("td")[1];
          if (td && td1) {
            txtValue = td.textContent.replace(/[^a-z0-9]/gi, "") || td.innerText.replace(/[^a-z0-9]/gi, "");
            txtValue1 = td1.innerText.replace(/[^a-z0-9]/gi, "") || td1.textContent.replace(/[^a-z0-9]/gi, "");
            if (txtValue.toUpperCase().replace(/[^a-z0-9]/gi, "").startsWith(filter) || txtValue1.toUpperCase().replace(/[^a-z0-9]/gi, "").startsWith(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    }

    function convertTime(time24) {
      var hour = parseInt(time24.substring(0, 2));
      var minute = time24.substring(3, 5);
      var ampm = hour >= 12 ? 'pm' : 'am';
      hour = hour % 12;
      hour = hour ? hour : 12; // the hour '0' should be '12'
      var time12 = hour + ':' + minute + ' ' + ampm;
      return time12;
    }

    $(document).ready(function() {
      $('#start-date').datepicker({
          autoclose: true,
          format: 'mm/dd/yyyy',
          startDate: null,
          endDate: new Date().toLocaleDateString('en-US', {
              month: '2-digit',
              day: '2-digit',
              year: 'numeric'
          })
      });
    $('#end-date').datepicker({
        autoclose: true,
        format: 'mm/dd/yyyy',
        startDate: null,
        endDate: new Date().toLocaleDateString('en-US', {
            month: '2-digit',
            day: '2-digit',
            year: 'numeric'
        })
    });
    });

    $(document).ready(function() {
    $('#start-time').timepicker({
        timeFormat: '%H:%M:%S',
        interval: 60,
        minTime: '00:00:00',
        maxTime: '23:59:59',
        startTime: '00:00:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
    $('#end-time').timepicker({
        timeFormat: '%H:%M:%S',
        interval: 60,
        minTime: '00:00:00',
        maxTime: '23:59:59',
        startTime: '00:00:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
    });
    </script>
  </div>
  <main class="grid-2-column-2 h-[100%]"> </main>
</div>
{% endblock content %}
