{% extends "layouts/header.html" %}
<span></span>
{% block content %}
<div class="grid-container-1 min-h-screen">
  <header class="w3-container">
    <h1 class="text-style">Search Records</h1>
  </header>

  <div class="warpper">
    <input class="radio" id="one" name="group" type="radio" checked />
    <input class="radio" id="two" name="group" type="radio" />

    <div class="tabs">
      <label class="tab" id="one-tab" for="one">View Visitor</label>
      <label class="tab" id="two-tab" for="two">Search Visitor</label>
    </div>

    <div class="panels">
      <div class="panel" id="one-panel">
        <div class="container px-1 px-sm-5 mx-auto">
          <form class="flex-parent" autocomplete="off">
            <div class="flex-child relative input-daterange">
              <label style="font-size: 15px; font-weight: bold; color: rgb(53, 53, 53); display: block" id="start-p" for="start">Start Date:</label>
              <div class="relative">
                <input type="text" id="start" class="form-control text-left mr-2" />
                <span class="fa fa-calendar" id="fa-1"></span>
              </div>
            </div>

            <div class="flex-child">
              <label style="font-size: 15px; font-weight: bold; color: rgb(53, 53, 53); display: block" id="end-p" for="end">End Date:</label>
              <!-- class="ml-3 form-control-placeholder" -->
              <input type="text" id="end" class="form-control text-left ml-2" />
              <span class="fa fa-calendar" id="fa-2"></span>
            </div>
          </form>
          <div style="padding-bottom: 3rem"></div>
          <form class="flex-parent" action="/action_page.php">
            <div class="flex-child">
              <label style="font-size: 15px; font-weight: bold; color: rgb(53, 53, 53); display: block" id="stime" for="stime">Start Time:</label>
              <input type="time" id="stime" name="stime" />
            </div>
            <div class="flex-child">
              <label style="font-size: 15px; font-weight: bold; color: rgb(53, 53, 53); display: block" id="etime" for="etime">End Time:</label>
              <input type="time" id="etime" name="etime" />
            </div>
          </form>
          <div class="vertical-center">
            <button class="generate" onclick="alert('Search records :3')">Generate</button>
          </div>
        </div>
      </div>
      <div class="panel" id="two-panel">
        <div class="form-row justify-content-center">
          <div class="row mb-3">
            <label class="text-center" for="idnum">Search by ID Number:</label>
            <div class="text-center">
              <input class="form-control" type="number" id="idnum" name="idnum" />
            </div>
          </div>
          <div class="row mb-3">
            <label class="text-center" for="fname">Search by Name:</label>
            <div class="text-center">
              <input class="form-control" type="text" id="fname" name="fname" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function searchRecord(evt, Search) {
      var i, x, tablinks;
      x = document.getElementsByClassName("search");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-border-blue", "");
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(Search).style.display = "block";
      evt.currentTarget.firstElementChild.className += " w3-border-blue";
      evt.currentTarget.firstElementChild.className += " active";
    }

    $(document).ready(function () {
      $(".input-daterange").datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        calendarWeeks: true,
        clearBtn: true,
        disableTouchKeyboard: true,
      });
    });
  </script>

  <main class="grid-2-column-2 h-[100%]"> </main>
</div>
{% endblock content %}
