<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
{% load static %}
<link rel='stylesheet' href="{% static 'img/style.css' %}" type='text/css'>

<style type="text/css">
    .sidenav {
        height:100%;
        width:300px;
        position: fixed;
        z-index:1;
        top:0;
        left:0;
        background-color:#111;
        overflow-x: hidden;
        padding-top:20px;
    }

    .sidenav a {
        padding:6px 8px 6px 16px;
        text-decoration: none;
        font-size:25px;
        color: #818181;
        display:block;
    }

    .sidenav a:hover{
        color:#fafafd;
    }	

    .main{
        margin-left:160px;
        padding: 0px 10px;
    }

    .logo {
        background-image: url("{% static 'img/Ateneo_de_Naga_University_logo.png' %}");
        background-size: auto;
        font-family: Montserrat;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

</style>

<body>
	<div class="sidenav">
        <img src="{% static 'img/Ateneo_de_Naga_University_logo.png' %}" width="150" height="150">
        <div style="text-align: center; font-size: 20px; color: white; margin-top: 2rem; margin-bottom: 2rem;">System Administrator</div>
		<a style="font-weight: bold; color: white;"href="/admin/dashboard">Home</a>
            <hr style="width:90%;text-align:center;  color:gray;background-color:gray">
		<a style="font-weight: bold; color: white;">Manage Records</a>
            <hr style="width:90%;text-align:center;  color:gray;background-color:gray">
        <ul style="list-style-type:circle; font-size: 1.5rem; color: white; text-align: center;">
            <li style="color: #818181;">Search Records</li>
                <hr style="width:80%;text-align:center; color:gray;background-color:gray; margin-left: 0;">
            <li style="color: #818181;">Update Records</li>
                <hr style="width:80%;text-align:center; color:gray;background-color:gray; margin-left: 0;">
            <li style="color: #818181;">Delete Records</li>
                <hr style="width:80%;text-align:center;  color:gray;background-color:gray; margin-left: 0;">
        </ul> 
		<a style="font-weight: bold; color: white;" href="/2">Manage Reports</a>
            <hr style="width:90%;text-align:center;  color:gray;background-color:gray">
	</div>
 
	{% block content %}
	{% endblock %}
 
</body>