{% include "header.html" %}
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
{% load static %}
<link rel='stylesheet' href="{% static 'img/style.css' %}" type='text/css'>

<style type="text/css">

hr.solid {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
    .sidenav {
        height:100%;
        width: 230px;
        position: fixed;
        z-index:1;
        top:0;
        left:0;
        background-color:#303030;
        overflow-x: hidden;
        padding-top:20px;
    }

    .sidenav a {
        padding:6px 8px 6px 16px;
        text-decoration: none;
        font-size:25px;
        color: #818181;
        display:block;
    }

    .sidenav a:hover{
        color:#fafafd;
    }	

    .main{
        margin-left:160px;
        padding: 0px 10px;
    }

    .logo {
        background-image: url("{% static 'img/Ateneo_de_Naga_University_logo.png' %}");
        background-size: auto;
        font-family: Montserrat;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
}

    @media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}

</style>

<body>
	<div class="sidenav">
        <img src="{% static 'img/Ateneo_de_Naga_University_logo.png' %}" width="150" height="150">
        <div style="font-family:Arial; text-align: center; font-size: 15px; color: white; margin-top: 2rem; margin-bottom: 2rem;">System Administrator</div>
		<a style="font-family:Arial; font-weight: bold; font-size: 15px; color: white;"href="/admin/dashboard">Home</a>
            <hr class="solid" style="width:90%;text-align:center;  color:black;background-color:black">
		<a style="font-family:Arial; font-weight: bold; font-size: 15px; color: white;">Manage Records</a>
            <hr style="width:90%;text-align:center;  color:gray;background-color:gray">
        <ul style="list-style-type:circle; font-size: 1.5rem; color: white;">
            <li style="font-family:Arial; color: #818181;"><a style="font-size: 15px;" href="/admin/dashboard/searchrecord">Search Records</a></li>
                <hr style="width:80%;text-align:center; color:gray;background-color:gray; margin-left: 0;">
            <li style="font-family:Arial; color: #818181;"><a style="font-size: 15px;" href="/admin/dashboard/updaterecord">Update Records</a></li>
                <hr style="width:80%;text-align:center; color:gray;background-color:gray; margin-left: 0;">
            <li style="font-family:Arial; color: #818181;"><a style="font-size: 15px;" href="/admin/dashboard/deleterecord">Delete Records</a></li>
                <hr style="width:80%;text-align:center;  color:gray;background-color:gray; margin-left: 0;">
        </ul> 
		<a style="font-family:Arial; font-weight: bold; font-size: 15px; color: white;" href="/admin/dashboard/managereport">Manage Reports</a>
            <hr style="width:90%;text-align:center;  color:gray;background-color:gray">
            {% block content %}
            {% endblock %}
	</div>

</body>