{% extends "layouts/header.html" %}
{% block content %}
<div class="grid-container-1 min-h-screen">
  <header class="w3-container">
    <h1 class="text-style">Update Records</h1>  
  </header>
  <div class="wrapper">
    <input class="radio" id="one" name="group" type="radio" checked>
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    <input class="radio" id="four" name="group" type="radio">
    <input class="radio" id="five" name="group" type="radio">
    <!-- <div class="flex-tab"> -->
      <div class="tabs flex-tab">
          <label class="tab" id="one-tab" for="one">Import Users</label>
          <label class="tab" id="two-tab" for="two">Update User</label>
          <label class="tab" id="three-tab" for="three">Update College</label>
          <label class="tab" id="four-tab" for="four">Update Department</label>
          <label class="tab" id="five-tab" for="five">Update User Type</label>
        </div>
    <!-- </div> -->
    <div class="panels panel-relative mx-auto mb-5">
      <div class="panel" id="one-panel">
        <div class="flex justify-between items-center mb-5">
          <div class="panel-title">Add New Data</div>
          <div class="d-grid-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Batch Upload</button>
          </div>
        </div>
        <hr>
        <form class="panel-margin" action="/admin/dashboard/updaterecord/" method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="customFile">Upload Picture</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="customFile" />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="idnum">ID Number:</label>
            <div class="col-sm-10">
              <input class="form-control" type="number" id="idnum" name="idnum">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="fname">First name:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="fname" name="fname">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="mname">Middle name:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="mname" name="mname">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="lname">Last name:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="lname" name="lname">
            </div>
          </div>
          <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="gender">Gender:</label>
            <div class="col-sm-10">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" name="gender" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio1">Male</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" name="gender" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Female</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="department">Department:</label>
            <div class="col-sm-10">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="department">Course:</label>
              <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="department">User Type:</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Student</option>
                    <option value="2">Faculty</option>
                    <option value="3">Personnel</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="department">Comment:</label>
                  <div class="col-sm-10">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                      <label for="floatingTextarea">Comments</label>
                    </div>
                  </div>
                </div>
                <div class="d-grid col-4 mx-auto">
                  <button class="btn btn-primary" type="submit">Save</button>
                </div>
        </form>
      </div>
      <div class="panel" id="two-panel">
        <!-- <div class="panel-title">Take-Away Skills</div> -->
        <div class="row mb-3">
          <label class="text-center" for="idnum1">Search by ID Number:</label>
          <div class="text-center">
            <input class="form-control" type="number" id="idnum1" name="idnum1">
          </div>
        </div>
        <div class="row mb-3">
          <label class="text-center" for="fname">Search by Name:</label>
          <div class="text-center">
            <input class="form-control" type="text" id="fname" name="fname">
          </div>
        </div>
      </div>
      <div class="panel" id="three-panel">
        <!-- <div class="panel-title">Note on Prerequisites</div> -->
        <div class="row mb-3">
          <form action="/admin/dashboard/updaterecord/" method="post" name="add_college_form">
            {% csrf_token %}
          <div class="input-group">
            <label class="col-sm-2 col-form-label" for="college">Add a College:</label>
            <input type="text" class="form-control" value="College of " aria-label="College of" aria-describedby="basic-addon2" name="college">
            <div class="input-group-button">
              <button class="btn-update btn-outline-secondary" type="submit">Add</button>
            </div>
            {% if messages %}
            <p class="messages">
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.message }}</p>
                {% endfor %}
            </p>
            {% endif %}
          </div>   
          </form>  
        </div>
        <form method="post" name="update_college_form"> 
          {% csrf_token %}
          <div class="row mb-3">
            <div class="input-group">
            <label class="col-sm-2 col-form-label" for="department">Update a College:</label>
              <select class="form-select" aria-label="Default select example" name="college_name">
                {% for item in data %}
                  <option value="{{item.college_name}}"> {{ item.college_name }} </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="input-group">
              <label class="col-sm-2 col-form-label" for="fname">New College Name:</label>
              <input type="text" class="form-control" value="College of " aria-label="College of" aria-describedby="basic-addon2" name="new_college_name">
              <div class="input-group-button">
                <button class="btn-update btn-outline-secondary" type="submit">Update</button>
              </div>
            </div>     
          </div>
        </form>
        <div class="row mb-3">
          <form method="post">
            {% csrf_token %}
            <div class="input-group">
              <label class="col-sm-2 col-form-label" for="delete_college">Delete a College:</label>
              <select class="custom-select" name="delete_college">
                {% for item in data %}
                  <option value="{{item.college_name}}"> {{ item.college_name }} </option>
                {% endfor %}
              </select>
              <div class="input-group-button">
                <button class="btn-delete btn-outline-secondary" type="submit">Delete</button>
              </div>
            </div>
          </form>
          </div>
        </div>
   
      <div class="panel" id="four-panel">
        <!-- <div class="panel-title">Note on Prerequisites</div> -->
        <form method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="input-group">
              <label class="col-sm-2 col-form-label" for="dept">Add a Department:</label>
              <input type="text" class="form-control" value="Department of " aria-label="Department of" aria-describedby="basic-addon2" name="dept">
              <div class="input-group-button">
                <button class="btn-update btn-outline-secondary" type="submit">Add</button>
              </div>
            </div>     
          </div>
          <div class="row mb-3">
            <div class="input-group">
            <label class="col-sm-2 col-form-label" for="department">Fron College of:</label>
                <select class="form-select" aria-label="Default select example">
                    <option value=""> </option>
                </select>
            </div>
          </div>
        </form>
        <div class="row mb-3">
          <div class="input-group">
          <label class="col-sm-2 col-form-label" for="department">Update a Department:</label>
              <select class="form-select" aria-label="Default select example">
                {% for item in dept %}
                  <option value="{{item.dept_name}}"> {{ item.dept_name }} </option>
                {% endfor %}
              </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="input-group">
            <label class="col-sm-2 col-form-label" for="fname">New department Name:</label>
            <input type="text" class="form-control" placeholder="Department of" aria-label="Department of" aria-describedby="basic-addon2">
            <div class="input-group-button">
              <button class="btn-update btn-outline-secondary" type="button">Update</button>
            </div>
          </div>     
        </div>
        <div class="row mb-3">
          <div class="input-group">
            <label class="col-sm-2 col-form-label" for="fname">Delete a Department:</label>
            <select class="custom-select" id="inputGroupSelect04">
              <option selected>Department of</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="input-group-button">
              <button class="btn-delete btn-outline-secondary" type="button">Delete</button>
            </div>
          </div>
          </div>
        </div>
      
      <div class="panel" id="five-panel">
        <!-- <div class="panel-title">Note on Prerequisites</div> -->
        <div class="row mb-3">
          <div class="input-group">
            <label class="col-sm-2 col-form-label" for="fname">Add User Type</label>
            <input type="text" class="form-control" placeholder="" aria-label="College of" aria-describedby="basic-addon2">
            <div class="input-group-button">
              <button class="btn-update btn-outline-secondary" type="button">Add</button>
            </div>
          </div>     
        </div>
      </div>
      </div>
    </div>
</div>
{% endblock content %}
        