{% include "header.html" %}
{% include "sidebar.html" %}

<div class="grid-container-1 min-h-screen">
    <body style="background-color: #ECF0F1;">
        <header class="w3-container">
            <h1 class="text-style">Update Records</h1>  
              </header>
    </body>
</div>

<style>

.grid-container-1 {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
    .w3-container{
  background-color: #e0e9ec;
}
.text-style {
  font-size: 20px;
  color: rgb(120, 120, 120);
  margin: 1rem;
}

</style>